* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
/* HOME*/

body.INDEX{

   background-color: #FFD700;
    background-image: url(planet\ 2.png);
}


header {
    display: flex;
    justify-content: space-between;
    align-item:Arial;
    background-color: #1a581c; 
    padding: 30px 40px;
    color: rgb(182, 42, 42);
}


header .logo {
    font-weight: bold;
    font-size: 24px;
    color:khaki
}

.logo span {
    color: rgb(228, 170, 226);
}

nav {
    text-align: right;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
}

nav a:hover {
    color: #FFD700; 
}

section.home {
    padding: 100px 60px;
    text-align: left;
}

.content h1 {
    font-size: 30px;
}

.content h1 span {
    color: rgb(194, 143, 66);
    font-size: 30px;
}

.content p {
    font-size: 17px;
}

.fa-instagram {
    color: pink;
    background: white;
    width: 27px;
    font-size: 30px;
    margin: 5px 4px;
    text-align: center;
}

.fa-telegram {
    color: skyblue;
    background: white;
    width: 29px;
    font-size: 30px;
    margin: 5px 4px;
    text-align: center;
}

.fa-youtube {
    color: lightcoral;
    background: white;
    width: 34px;
    font-size: 30px;
    margin: 5px 4px;
    text-align: center;
}
.btns button{
    height: 55px;
    width: 120px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    border: 5px dashed brown;
    color:rgba(211, 127, 0, 0.822);
    font-size: 15px;
    font-weight: 500;
}
/* About.HTML*/
body.about {
    background-image: url(Venus\ Rubah.png);
}

.gallery-item h3 {
    text-align: center;
}





  







